# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Airflow
logs/
airflow.db
*.sqlite

# dbt
dbt_packages/
target/

# Environment & secrets
.env
.envrc
*.env
.env.*

# VSCode or IDE
.vscode/
.idea/

# Docker
*.pid
*.sock
*.log
__MACOSX/
.DS_Store
